@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Hello ASP.NET MVC Core</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <h1>Custom Page!</h1>
    <h2>Привет мир!</h2>
    <h2>Hi Baby!</h2>
</body>
</html>

