@*с помощью директивы @model устанавливается модель представления. Тип модели должен совпадать с типом объекта,
    который передается в метод View() в контроллере.*@
@model List<string>
@*Представление называется строготипизированным, если информация в него через контроллер передается путем
    передачи напрямую в метод view, а в представлении вызывается с помощью model*@
<h3>В списке @Model.Count элемента</h3>
@foreach (string country in Model)
{
    <p>@country</p>
}

<h3>Все передано через model, а не через ViewBag</h3>